$small-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$desktopLarge-width: 1200px;

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktopLarge {
  @media (min-width: #{$desktopLarge-width}) {
    @content;
  }
}

html {
  font-size: 2px;
  @include small {
    font-size: 8px;
  }
  @include tablet {
    font-size: 14px;
  }
  @include desktop {
    font-size: 18px;
  }
  @include desktopLarge {
    font-size: 25px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 2vw;
  @include desktop {
    padding: 0;
    max-width: 940px;
  }
}

.title {
  span {
    font-size: 30pt;
    font-family: 'Brandon Grotesque Bold';
    &:first-child {
      font-family: 'Brandon Grotesque Light';
    }
    @include small {
      font-size: 38pt;
    }
    @include tablet {
      font-size: 48pt;
    }
    @include desktop {
      font-size: 58pt;
    }
    @include desktopLarge {
      font-size: 60pt;
    }
  }
  p {
    font-size: 14pt;
    margin-top: 0.6rem;
    color: #777;
    @include tablet {
      font-size: 18pt;
    }
  }
}

.header {
  position: relative;

  &-menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    @include tablet {
      padding: 0;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
    }
    @include desktop {
      top: 20px;
    }
    @include desktopLarge {
      top: 40px;
    }

    nav {
      position: absolute;
      background-color: blue;
      top: 100%;
      right: 0;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
      display: none;
      &.active {
        display: block;
      }
      @include tablet {
        width: auto;
        margin-left: auto;
        display: block;
        position: static;
        background-color: transparent;
        ul {
          display: flex;
        }
      }

      li {
        padding: 10px;
        color: #fff;
        border-top: 1px solid #fff;
        cursor: pointer;
        &:hover {
          color: #232323;
          background-color: #f8f5f4;
        }
        @include tablet {
          border-top: none;
          font-family: 'Brandon Grotesque Medium';
          font-size: 18pt;
        }
      }
    }
  }

  &-logo {
    width: 200px;
  }

  &-mobile {
    margin-left: auto;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    @include tablet {
      display: none;
    }
  }

  &-banner {
    width: 100%;
    height: 44.3vw;
    background-image: url(../assets/images/Image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  &-cap {
    position: absolute;
    width: 90vw;
    text-align: center;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: #fff;
    @include small {
      top: 65%;
    }
    @include tablet {
      top: 50%;
    }

    h6 {
      font-size: 12pt;
      font-family: 'Brandon Grotesque Light';
      @include small {
        font-size: 17pt;
      }
      @include tablet {
        font-size: 20pt;
      }
      @include desktop {
        font-size: 25pt;
      }
      @include desktopLarge {
        font-size: 32pt;
      }
    }

    h4 {
      font-size: 20pt;
      margin: 1.6rem 0 2.8rem 0;
      font-family: 'Brandon Grotesque Bold';
      @include small {
        font-size: 28pt;
      }
      @include tablet {
        font-size: 36pt;
      }
      @include desktop {
        font-size: 44pt;
      }
      @include desktopLarge {
        font-size: 60pt;
      }
    }

    button {
      font-family: 'Brandon Grotesque Bold', sans-serif;
      font-size: 10pt;
      background-color: transparent;
      outline: none;
      border: 1px solid #fff;
      border-radius: 3px;
      color: #fff;
      padding: 1rem 3.2rem;
      cursor: pointer;
      @include small {
        font-size: 12pt;
      }
      @include tablet {
        border-width: 2px;
        font-size: 15pt;
      }
      @include desktop {
        font-size: 20pt;
      }
      @include desktopLarge {
        font-size: 23pt;
      }
    }
  }
}

.services {
  margin-top: 4rem;

  &__desc {
    color: #777;
    font-size: 15pt;
    @include tablet {
      font-size: 18pt;
    }
  }

  &-feature {
    &__bg {
      background-color: #fafafa;
      padding: 4rem 0;
      margin-top: 4rem;
    }
    &__item {
      padding: 0 1.5rem;
      @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__img {
      display: none;
      @include tablet {
        display: block;
        flex-basis: 30%;
        &--right {
          order: 1;
        }
      }

      img {
        width: 100%;
      }
    }

    &__text {
      @include tablet {
        flex-basis: 65%;
      }
    }

    &__desc {
      margin-top: 1.75rem;
    }
  }

  &-skills {
    margin-top: 100px;
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;

    &__item {
      flex-basis: 100%;
      display: flex;
      margin-bottom: 45px;
      @include tablet {
        flex-basis: 45%;
        &:nth-child(odd) {
          flex-basis: 45%;
          margin-right: 10%;
        }
      }
    }

    &__text {
      margin-left: auto;
      flex-basis: 70%;
      @include small {
        flex-basis: 80%;
      }
      @include tablet {
        flex-basis: 75%;
      }
    }

    &__img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: #232323;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__heading {
      font-size: 22pt;
      font-family: 'Brandon Grotesque Medium';
    }

    &__desc {
      margin-top: 15px;
    }
  }
}

.clients {
  background-color: #fafafa;
  padding: 4rem 0;

  .title {
    text-align: center;
    margin-bottom: 1.8rem;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.4rem;
    @include tablet {
      flex-direction: row;
    }
  }

  &__img {
    display: none;
    @include small {
      display: block;
      width: 8.8rem;
      height: 8.8rem;
      border: 3px solid #fff;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__text {
    margin-left: 50px;
    margin-right: 30px;
    padding: 0.75rem 2rem;
    flex: 1;
    background-color: #fff;
    position: relative;
    border: 2px solid #f2f2f2;
    @include tablet {
      order: 1;
    }

    &::before {
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      border-top: 10px solid transparent;
      border-right: 25px solid #fff;
      border-bottom: 10px solid transparent;
      border-left: 25px solid transparent;
      z-index: 2;
    }
    &::after {
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      border-top: 12px solid transparent;
      border-right: 27px solid #f2f2f2;
      border-bottom: 12px solid transparent;
      border-left: 27px solid transparent;
      z-index: 1;
    }

    &--right {
      margin-left: 30px;
      margin-right: 50px;
      @include tablet {
        order: 0;
      }

      &::before {
        left: 100%;
        border-right: 25px solid transparent;
        border-left: 25px solid #fff;
      }

      &::after {
        left: 100%;
        border-right: 27px solid transparent;
        border-left: 27px solid #f2f2f2;
      }
    }

    p {
      font-size: 10pt;
      @include small {
        font-size: 12pt;
      }
      @include tablet {
        font-size: 15pt;
      }
      @include desktop {
        font-size: 20pt;
      }
      @include desktopLarge {
        font-size: 22pt;
      }

      &:last-child {
        font-size: 9pt;
        margin-top: 0.75rem;
        color: #7690c5;
        @include small {
          font-size: 11pt;
        }
        @include tablet {
          font-size: 14pt;
        }
        @include desktop {
          font-size: 18pt;
        }
        @include desktopLarge {
          font-size: 20pt;
        }
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2.4rem 0;
  &__item {
    flex-basis: 150px;
    padding: 0 15px;
    margin-bottom: 15px;

    img {
      width: 100%;
    }
  }
}
